spring:
  application:
    name: simple-login


  datasource:
    url: jdbc:postgresql://localhost:5432/simpledb
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: create

    show-sql: true
    properties:
      hibernate:
        format_sql: true
jwt:
  secretKey: fdnfhdbfhnfiernirurfbuernr9uri3r3r3rr4ru34ri34r93

